.post {
    position: relative;
    padding-bottom: 3rem;

    &:not(:last-of-type) {
        margin-bottom: 4rem;
    }

    &::after {
        content: "";
        height: 1px;
        width: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -25px;
        background-color: rgba(51, 51, 51, 0.2);
    }
}

.post-title {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.6;
    font-weight: 900;
    color: #3c3c3c;
    text-shadow: 0px 0px 1px #3c3c3c;
    margin-bottom: 1rem;

    a {
        display: block;
        color: inherit;
        text-decoration: none!important;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;

        &:hover {
            color: #008bbf;
        }
    }
}

.post-content {
    color: #444;
    margin-bottom: 2rem;
    font-size: .875rem;
    line-height: 2.2;
    text-shadow: 0px 0px 1px #afafaf;
}

.post-continue {
    font-size: .625rem;
}

.btn-post {
    font-size: .75rem;
    height: 40px;
    min-width: 160px;
    line-height: 2.2;
}

.btn-danger {
    background: #c62641;
    border: 1px solid #c62641;
}

@media (min-width: 320px) {
    .post-title {
        font-size: 1.5rem;
    }
}

@media (min-width: 480px) {
    .post-title {
        font-size: 1.9rem;
    }
}

@media (min-width: 768px) {
    .post-title {
        font-size: 1.9rem;
    }

    .post-content {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .post-title {
        font-size: 2.2rem;
    }
}

@media (min-width: 1200px) {
    .post-title {
        font-size: 2rem;
    }
}